body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  .nunito-title {
    font-family: "nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "nunito", sans-serif;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #C6FE20;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: black;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #B5E523;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    padding-top: 100px; /* Adjust for fixed header */
  }
  
  .intro,
  .featured-project,
  .testimonial,
  .contact,
  .image-hover {
    margin-bottom: 40px;
  }
  
  .featured-project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
  
  blockquote footer {
    text-align: right;
    font-style: italic;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay h2 {
    margin: 10px 0;
  }
  
  .overlay p {
    margin: 10px 0;
  }
  
  .overlay button {
    padding: 10px 20px;
    border: none;
    background-color: #C6FE20;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .overlay button:hover {
    background-color: #85A81E;
  }
  
  .projectGrid {
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .gridcell1,
  .gridcell2,
  .gridcell3 {
    position: relative;
    overflow: hidden;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  body.dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  
  body.dark-mode header {
    background-color: #444;
  }
  
  body.dark-mode .logo a {
    color: #f4f4f4;
  }
  
  body.dark-mode nav ul li a {
    color: #f4f4f4;
  }
  
  body.dark-mode nav ul li a:hover {
    color: #C6FE20;
  }
  
  body.dark-mode .featured-project a {
    background: #444;
  }
  
  body.dark-mode blockquote {
    background: #444;
    border-left-color: #007bff;
  }
  
  body.dark-mode .contact input,
  body.dark-mode .contact textarea {
    background: #383838;
    color: #383838;
    border: 1px solid #007bff;
  }
  
  body.dark-mode .contact button {
    background: #C6FE20;
    color:black;
  hover:85A81E;
  }
  body.dark-mode .contact button:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: white;
  }
  
  body.dark-mode footer {
    background: #222;
  }
  
  /* Scroll Up Button */
  #scrollUpBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #C6FE20; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #scrollUpBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: white;
  }
  
  
  
  i {
    padding: 0 10px;
  }
  
  .square {
    cursor: pointer;
  }
  .testimonial {
    position: relative;
    padding: 40px 20px;
    background-color: var(--contact-bg-color);
    border-radius: 8px;
    max-width: 1200px;
    margin: 40px auto;
  }
  
  .testimonial h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    color: var(--text-color);
  }
  
  body.dark-mode .testimonial {
    background-color: var(--dark-contact-bg-color);
  }
  
  .testimonial-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .testimonial-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
  }
  
  .testimonial-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .carousel-controls .prev,
  .carousel-controls .next {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    color: var(--text-color);
  }
  
  body.dark-mode .carousel-controls .prev,
  body.dark-mode .carousel-controls .next {
    color: var(--dark-text-color);
  }
  
  
  @media (max-width: 1200px) {
    nav {
      padding: 10px;
    }
  
    .logo a {
      font-size: 1.2em;
    }
  
    nav ul li {
      margin: 0 10px;
    }
  }
  
  @media (max-width: 992px) {
    .projectGrid {
      grid-template-columns: 1fr;
    }
  }
  
  /* Contact Section */
  .contact {
    padding: 40px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 40px auto;
  }
  body.dark-mode .contact {
    background-color: gray;
  }
  .contact2 {
    padding: 40px 20px;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 40px auto;
  }
  
  
  
  .contact h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Nunito", sans-serif;
    font-size: 2.5em;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
  }
  
  .contact-form {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    margin-right: 20px;
  }
  
  .contact-info {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin-left: 20px;
  }
  
  .contact-info h3 {
    font-family: "Nunito", sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
  }
  
  .contact-info p {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 20px;
    color: white;
  }
  
  .contact-info p br {
    display: none;
  }
  
  .contact-info p::before {
    content: "";
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    background-color: var;
    color: gray;
  }
  
  body.dark-mode .contact-form input,
  body.dark-mode .contact-form textarea {
    background-color: 000000;
    color: ffffff;
    border: 3px solid black;
  }
  
  .send-button {
    padding: 15px;
    background: #C6FE20;
     color: black;
    border: 3px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    text-align: center;
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  .send-button:hover {
    background: gray;
  }
  
  body.dark-mode .send-button {
    background: var(--dark-button-bg-color);
    color: var(--dark-button-text-color);
  }
  
  body.dark-mode .send-button:hover {
    background: var(--dark-button-hover-bg-color);
  }
  
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .contact-form,
    .contact-info {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 1s ease-out forwards;
  }
  
  .hidden {
    opacity: 0;
    transform: translateX(100%);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #C6FE20;
    }
  }
  
  .animated-text {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange;
    width: 0;
    animation: typing 3.5s steps(30, end) forwards; 
  }
  .static-text {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    white-space: nowrap;
    overflow: visible;
    border-right: none;
    animation: none;
  }
  
  
  